In [113]:
import pandas as pd
import numpy as np
import seaborn as sns

In [114]:
dados=pd.read_csv('https://softgraf.com/cursodatascience/ibge-pesquisa-nacional-por-amostra-de-domicilios-2015.csv')
display(dados)

       UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0      11     0     23    8              12    800  1.603808
1      11     1     23    2              12   1150  1.739790
2      11     1     35    8              15    880  1.760444
3      11     0     46    2               6   3500  1.783158
4      11     1     47    8               9    150  1.690631
...    ..   ...    ...  ...             ...    ...       ...
76835  53     1     46    2              11    812  1.687030
76836  53     0     30    4               7   1500  1.792934
76837  53     0     32    8              12   1300  1.830587
76838  53     0     57    8               4   1500  1.726344
76839  53     0     38    8               4    900  1.658305

[76840 rows x 7 columns]

In [115]:
sexo={0:'Masculino',1:'Feminino'}

In [116]:
cor={0:'Indigena',
    2:'Branca',
    4:'Preta',
    6:'Amarela',
    8:'Parda',
    9:'Sem declaraçao'}

In [117]:
print('idade minima:',dados.Idade.min())
print('idade maxima:',dados.Idade.max())

idade minima: 13
idade maxima: 99

In [118]:
print('altura minima:',dados.Altura.min())
print('altura maxima:',dados.Altura.max())

altura minima: 1.339244614
altura maxima: 2.028496765

##### Distribuiçao de frequencias qualitativas

##### Metodo 1 - contagem dos valores com pandas.Series.value_counts()

In [119]:
#faz contagem de valores por sexo
frequencia=dados['Sexo'].value_counts()
print(frequencia)

0    53250
1    23590
Name: Sexo, dtype: int64

In [120]:
#colcula o percentual 
percentual=dados['Sexo'].value_counts(normalize=True)*100
print(percentual)

0    69.299844
1    30.700156
Name: Sexo, dtype: float64

In [121]:
#cria um dataframe
dist_freq=pd.DataFrame({'Frequencia':frequencia,'Porcentagem %':percentual.round(2)})
display(dist_freq)

dist_freq.rename(index=sexo,inplace=True)
display(dist_freq)

   Frequencia  Porcentagem %
0       53250           69.3
1       23590           30.7

           Frequencia  Porcentagem %
Masculino       53250           69.3
Feminino        23590           30.7

##### Metodo 2 - cruzamento de variaveis com pandas.crosstab()

In [122]:
frequencia=pd.crosstab(dados['Sexo'],dados['Cor'])
display(frequencia)

Cor     0      2     4    6      8
Sexo
0     256  22194  5502  235  25063
1     101   9621  2889  117  10862

In [123]:
frequencia.rename(index=sexo,inplace=True)
display(frequencia)

Cor          0      2     4    6      8
Sexo
Masculino  256  22194  5502  235  25063
Feminino   101   9621  2889  117  10862

In [124]:
frequencia.rename(columns=cor,inplace=True)
display(frequencia)

Cor        Indigena  Branca  Preta  Amarela  Parda
Sexo
Masculino       256   22194   5502      235  25063
Feminino        101    9621   2889      117  10862

In [125]:
renda_media=pd.crosstab(dados.Sexo,dados.Cor,aggfunc='mean',values=dados.Renda)
display(renda_media)

Cor             0            2            4            6            8
Sexo
0     1081.710938  2925.744435  1603.861687  4758.251064  1659.577425
1     2464.386139  2109.866750  1134.596400  3027.341880  1176.758516

In [126]:
renda_media.rename(index=sexo,inplace=True)
display(renda_media)

Cor                  0            2            4            6            8
Sexo
Masculino  1081.710938  2925.744435  1603.861687  4758.251064  1659.577425
Feminino   2464.386139  2109.866750  1134.596400  3027.341880  1176.758516

In [127]:
renda_media.rename(columns=cor,inplace=True)
display(renda_media.round(2))

Cor        Indigena   Branca    Preta  Amarela    Parda
Sexo
Masculino   1081.71  2925.74  1603.86  4758.25  1659.58
Feminino    2464.39  2109.87  1134.60  3027.34  1176.76

#### Distribuiçao de frequencia para variaveis quantitativas

#### Classes personalizadas ou de amplitude variavel

In [128]:
#Para criar classes personalizadas agrupamos nossos dados,
#atraves da funçao cut() do pandas

#A.verificar os limites da Renda
print('Renda minima:',dados.Renda.min())
print('Renda maxima:',dados.Renda.max())

Renda minima: 0
Renda maxima: 200000

B.definir os limites das classes
Salario minimo de 2015 -R$ 788,00

vamos classificar a Renda em 5 classes
A=acima de 20 salarios minimos=15760
B=de 10 a 20 sm=7880 a 15760
C=de 4 a 10 sm=3152 a 7880
D=de 2 a 4 sm=1576 a 3152
E=de até 2 SM=1576

In [129]:
#C. define uma lista de classes de renda
classes=[0,1576,3152,7880,15760,200000]
labels=['E','D','C','B','A']

In [130]:
#D. classifica a renda em categorias com pandas.cut()- retorna uma serie
categorias=pd.cut(x=dados.Renda,
                 bins=classes,
                 labels=labels,
                  #por padrao nao inclui a classe inferior(0)
                 include_lowest=True)
print(categorias)

0        E
1        E
2        E
3        C
4        E
        ..
76835    E
76836    E
76837    E
76838    E
76839    E
Name: Renda, Length: 76840, dtype: category
Categories (5, object): ['E' < 'D' < 'C' < 'B' < 'A']

In [131]:
frequencia=pd.value_counts(categorias)
print(frequencia)

E    49755
D    16700
C     7599
B     2178
A      608
Name: Renda, dtype: int64

In [132]:
#F.calcula percentual
percentual=pd.value_counts(categorias,normalize=True)*100
print(percentual.round(2))

E    64.75
D    21.73
C     9.89
B     2.83
A     0.79
Name: Renda, dtype: float64

In [137]:
#G.cria um dataframe
dist_freq=pd.DataFrame({'Frequencia':frequencia,'Porcentagem ':percentual.round(2)})
display(dist_freq)

   Frequencia  Porcentagem
E       49755         64.75
D       16700         21.73
C        7599          9.89
B        2178          2.83
A         608          0.79