In [54]:
lista=[1,2,2,3,3,4,4,5,5]
tupla=1,2,2,3,3,4,4,5,5
conj={1,2,2,3,3,4,4,5,5}
dic={'joao':123,'se':456}

In [55]:
print(lista)
print(tupla)
print(conj)
print(dic)

[1, 2, 2, 3, 3, 4, 4, 5, 5]
(1, 2, 2, 3, 3, 4, 4, 5, 5)
{1, 2, 3, 4, 5}
{'joao': 123, 'se': 456}

In [56]:
dir(lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [57]:
#lista=[]
#tupla=()
#conj=set() #escrever set()para criar um conj vazio
#dic={}

### Dicionarios sao conjuntos formados oir chave:valor(key:value)
#### A chave tambem pode ser chamada de rotulo e pode ser string ou numerica
#### O valor pode ser string,numero ou lista, assim um conjunto sera formado de lista com rotulos
#### ex: (chave1:valor1, chave2:valor2...)

In [58]:
#cria um dicionario
meu_dici= {'a':1, 'b':2,'c':3}
print(meu_dici)

{'a': 1, 'b': 2, 'c': 3}

In [59]:
#mostra valores usando as chaves
print(meu_dici['a'])
print(meu_dici['b'])

1
2

In [60]:
#adiciona nova chave:valor
meu_dici['d']=4
print(meu_dici)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [61]:
#mostra valor
print(meu_dici['c'])
print(meu_dici.get('c')) #memsa coisa que o de cima

3
3

In [62]:
#converte dicionario em lista
list(meu_dici)

['a', 'b', 'c', 'd']

In [63]:
#cria um dicionario de contatos usando chave:valor
fones={'joao':1234,'maria':4567}
print(fones['joao'])

1234

In [64]:
print('Tamanho',len(fones))

Tamanho 2

In [65]:
#altera valor
fones['joao']=9999
print(fones['joao'])

9999

In [66]:
if 'luiz' in fones:
    print(fones['luiz'])
else:
    print('nao tem luiz')

nao tem luiz

In [67]:
if 'joana' not in fones:
    print('nao tem joana')

nao tem joana

In [68]:
#mostra chaves
meu_dici.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [69]:
#remove chaves
meu_dici.pop('a')
meu_dici.pop('b')
print(meu_dici)

{'c': 3, 'd': 4}

In [70]:
#mostra chaves
print(fones.keys())
#mostra valores
print(fones.values())

dict_keys(['joao', 'maria'])
dict_values([9999, 4567])

In [71]:
#recorrendo o dicionario com for
for k in fones:
    print(k,fones[k])

joao 9999
maria 4567

In [72]:
#cria um dicionario atraves de um conjunto de chaves:valores
info={'pais':'brasil','habitantes':210000000,'idioma':'portugues','regioes':5}
print('Pais',info['pais'])
print('Idioma',info['idioma'])

Pais brasil
Idioma portugues

In [73]:
#dicionario a partir de uma lista de tuplas
lista=[
    ('joao','joao@gmail.com'),
    ('maria','maria@gmail.com'),
    ('luiz','luiz@gmail.com')
]
print(lista)
#cria um dicionario a partir da lista
contatos=dict(lista)
print(contatos)

[('joao', 'joao@gmail.com'), ('maria', 'maria@gmail.com'), ('luiz', 'luiz@gmail.com')]
{'joao': 'joao@gmail.com', 'maria': 'maria@gmail.com', 'luiz': 'luiz@gmail.com'}

In [74]:
#dicionarios a partir de lista, cujo valores sao sublistas
lista_vendas=[
    ('id',[1,2,3]),
    ('vendedores',['Julio','Claudio','Otaviano']),
    ('vendas',[15000,25000,45000])
]
print(lista_vendas)
tabela=dict(lista_vendas)
print(tabela)
print(tabela['id'])
print(tabela['vendedores'])
print(tabela['vendas'])

[('id', [1, 2, 3]), ('vendedores', ['Julio', 'Claudio', 'Otaviano']), ('vendas', [15000, 25000, 45000])]
{'id': [1, 2, 3], 'vendedores': ['Julio', 'Claudio', 'Otaviano'], 'vendas': [15000, 25000, 45000]}
[1, 2, 3]
['Julio', 'Claudio', 'Otaviano']
[15000, 25000, 45000]

In [75]:
for k in tabela:
    print(k,'=',tabela[k])

id = [1, 2, 3]
vendedores = ['Julio', 'Claudio', 'Otaviano']
vendas = [15000, 25000, 45000]

In [76]:
#obtem a lista de itens do dicionario
list(tabela.items())

[('id', [1, 2, 3]),
 ('vendedores', ['Julio', 'Claudio', 'Otaviano']),
 ('vendas', [15000, 25000, 45000])]

In [79]:
#usando pandas,cria dataframe a partir do dicionario tabela
#pip install pandas
import pandas as pd 
df= pd.DataFrame.from_dict(tabela)
display(df)

   id vendedores  vendas
0   1      Julio   15000
1   2    Claudio   25000
2   3   Otaviano   45000

In [82]:
#cria outro dataframe a partir de um dicionario de dados
dados={
    'Nome':['Frodo','Sam','Gandalf','Galandriel'],
    'Idade':[25,26,50,40],
    'Opto':['Vendas','Vendas','Contabilidade','RH']
}
#cria a data frame
df=pd.DataFrame.from_dict(dados)
display(df)

#vai dar erro
#display(df['idade'])
display(df['Idade'])

         Nome  Idade           Opto
0       Frodo     25         Vendas
1         Sam     26         Vendas
2     Gandalf     50  Contabilidade
3  Galandriel     40             RH

0    25
1    26
2    50
3    40
Name: Idade, dtype: int64

In [90]:
print(type(dados))
print(type(df))
print(type(df['Idade']))
print(min(list(df['Idade'])))
print(list(df['Opto']))

<class 'dict'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>
25
['Vendas', 'Vendas', 'Contabilidade', 'RH']

In [92]:
#usando python
print('Menor idade:',min(df['Idade']))
print('Maior idade:',max(df['Idade']))
print('Media idades:',sum(df['Idade'])/len(df['Idade']))

Menor idade: 25
Maior idade: 50
Media idades: 35.25

In [96]:
#usando pandas
print('Menor:',df['Idade'].min())
print('Maior:',df['Idade'].max())
print('Media:',df['Idade'].mean())

Menor: 25
Maior: 50
Media: 35.25

In [97]:
#cria dicionario vazio
cidades={}
cidadas=dict

In [114]:
#adiciona dados
cidades['ponta grossa']=334535
cidades['castro']=71800
cidades['carambei']=24225
display(cidades)

{'ponta grossa': 334535, 'castro': 71800, 'carambei': 24225}

In [113]:
print('\nCidade \t\tPopulaçao')
for  k in cidades:
    print(f'{k:15} {cidades[k]}')

Cidade 		Populaçao
ponta grossa    334535
castro          71800
carambei        24225

In [115]:
#cria outro dicionario de dados
estados={'SC':7.165,'RS':11.25,'PR':11.08}
print('\nUF \tPopulaçao')

UF 	Populaçao

In [117]:
#ordenaçao de chaves
print('Chaves ordenadas',sorted(estados))

Chaves ordenadas ['PR', 'RS', 'SC']

In [119]:
print('\nCidade \t\tPopulaçao')
for  k in sorted(cidades):
    print(f'{k:15} {cidades[k]}')

Cidade 		Populaçao
carambei        24225
castro          71800
ponta grossa    334535

In [120]:
#cria uma serie do pandas
import pandas as pd

#as cahves do dicionario serao os indices
series= pd.Series(estados)
display(series)
type(series)

SC     7.165
RS    11.250
PR    11.080
dtype: float64

pandas.core.series.Series

In [123]:
#converte em DataFrame,sendo que as chaves serao os indices
df=series.to_frame(name='Populaçao(milhoes)') #ou pd.DataFrame(series)
df

    Populaçao(milhoes)
SC               7.165
RS              11.250
PR              11.080

In [125]:
#copia um dicionario
copia =estados.copy()

#apaga todos os dados
copia.clear()
print(copia)

{}

In [132]:
#dicionario com chave numerica
alunos={3:'Rafael',2:'Gabriel',1:'Josiel'}
print(alunos[1])
print(alunos.get(1))

#ordena pela chave
print('Ordenado pela chave')
for k in sorted(alunos):
    print(k,alunos[k])
    
#ordena pelo valor
print('Ordenado pelo valor')
for k in sorted(alunos, key=alunos.get):
    print(k,alunos[k])
    
#ordena pelo valor reverso
print('Ordenado pelo valor reverso')
for k in sorted(alunos, key=alunos.get, reverse=True):
    print(k,alunos[k])

Josiel
Josiel
Ordenado pela chave
1 Josiel
2 Gabriel
3 Rafael
Ordenado pelo valor
2 Gabriel
1 Josiel
3 Rafael
Ordenado pelo valor reverso
3 Rafael
1 Josiel
2 Gabriel

In [139]:
#dicionario com rotulos e listas
indice=[0,1,2]
cidades=['Ponta Grossa','Castro','Carambei']
populacao=[334535,71809,24225]
dados={'indice':indice,'cidades':cidades,'populacao':populacao}

print('\nDados IBGE',dados)

print('\nIndice \tCidade \t\tPopulacao')
for i in dados['indice']:
    print(f"{i}\t{dados['cidades'][i]:16}{dados['populacao'][i]}")

Dados IBGE {'indice': [0, 1, 2], 'cidades': ['Ponta Grossa', 'Castro', 'Carambei'], 'populacao': [334535, 71809, 24225]}

Indice 	Cidade 		Populacao
0	Ponta Grossa    334535
1	Castro          71809
2	Carambei        24225

In [141]:
import pandas as pd
df=pd.DataFrame(dados)
df
df=pd.DataFrame(dados).set_index('indice')
df

             cidades  populacao
indice
0       Ponta Grossa     334535
1             Castro      71809
2           Carambei      24225