### Criação de modulos e funçoes

In [ ]:
#define a funçao sem parametros
def hello():
    print('Hello Word')
print('codigo fora de funçao')

In [ ]:
#chama a funçao
hello()

In [ ]:
#funçao com parametro abrigatorio
def bomDia(nome):
    print('Bom Dia',nome)

In [ ]:
bomDia('João da Silva')

In [ ]:
#funçao com parametro opcional
def olafulano(nome='Alberto'):
    print('Ola',nome)

In [ ]:
#nao passa o parametro opcional
olafulano()

In [ ]:
#passa o parametro opcional
olafulano('Ana Maria')

### importando o modulo com atalho

In [ ]:
#normalmente nao precisa estas 2 linhas
import sys 
sys.path.append('..') #caminh atual para importar calculos

import calculos as calc

c=calc.area_circulo(5)
print('Area do Circulo:',c)

r=calc.area_retangulo(4,6)
print('Area do Retangulo:',r)

### importanto modulos com funçoes

In [ ]:
from calculos import area_circulo,area_retangulo

c=area_circulo(5)
print('Area do Circulo',c)
r=area_retangulo(4,6)
print('Area do Retangulo',r)

In [ ]:
#comparando com modulos do python

#importa com atalho
import numpy as np
a=np.array([1,2,3])
print(a)

#importa funçoes
from numpy import array
a=array([1,2,3])
print(a)

### Leitura de arquivos de dados:.py,.txt,.csv,.xis

# %load https://softgraf.com/cursodatascience/cores.txt
Cor	Valor
Vermelh	1
Laranja	2
Amarelo	3
Verde	4
Azul	5
Purpura	6
Cinza	7
Preto	8
Branco	9

# %load https://softgraf.com/cursodatascience/XMLData.xml
<MyDataset>
    <Record>
        <Number>1</Number>
        <String>Primeiro</String>
        <Boolean>True</Boolean>
    </Record>
    <Record>
        <Number>2</Number>
        <String>Segundo</String>
        <Boolean>False</Boolean>
    </Record>
    <Record>
        <Number>3</Number>
        <String>Terceiro</String>
        <Boolean>True</Boolean>
    </Record>
    <Record>
        <Number>4</Number>
        <String>Quarto</String>
        <Boolean>False</Boolean>
    </Record>
</MyDataset>

#### Lendo arquivos de texto estruturado

In [ ]:
with open('cores.txt') as arq:
    #read le todo o arquivo de uma unica vez
    print ('Conteudo do arquivo:\n'+arq.read())

In [ ]:
#Arquivos grandes podem nao caber na memoria,entao usamos streaming
with open('cores.txt','r')as arq:
    for linha in arq:
        print(linha,end='')

In [ ]:
#idem, porem inclui o numero da linha atravex de enumerate()
with open('cores.txt','r')as arq:
    for i,linha in enumerate(arq): #(0,'Cor----->Valor')
        print(str(i)+'\t'+linha,end='')

#### Lendo com pandas um arquivo de texto estruturado

In [ ]:
import pandas as pd
df=pd.read_table('cores.txt')
display(df)

#imprime so a coluna cor
print(df.Cor)
print('\nLinha 2',df.Cor[2])

### Lendo arquivos de texto em csv

In [ ]:
import pandas as pd
df=pd.read_csv('titanic.csv')
display(df)

In [ ]:
import pandas as pd
df=pd.read_csv('titanic.csv')
display(df)

print('somente coluna age\n',df['age'])
type(df['age']) #isto é uma serie do pandas

In [ ]:
#somente as primeiras 5 linhas
df.head() #cabeça

In [ ]:
#somente as ultimas 5 linhas
df.tail() #calda

In [33]:
#imprime somente as 10 primeiras linhas das colunas 'survived' e 'age'
for i in range(10):
    print(f"{df['survived'][i]:15}{df['age'][i]}")

survived       29.0
survived       0.916700006
died           2.0
died           30.0
died           25.0
survived       48.0
survived       63.0
died           39.0
survived       53.0
died           71.0

In [35]:
#salvando no formato padrao XLSX do Excel
df.to_excel('titanic.xlsx',index=False)

#### Lendo com pandas um arquivo XLS do Excel

In [36]:
import pandas as pd
xls=pd.ExcelFile('Valores.xls')
#converte primeira planilha em data frame
df=xls.parse('Sheet1')
display(df)

    Angulo (graus)      Seno   Cosseno  Tangente
0       178.623488  0.024022 -0.999711 -0.024029
1       348.774851 -0.194665  0.980870 -0.198462
2       157.083954  0.389382 -0.921076 -0.422747
3        82.053645  0.990398  0.138246  7.164033
4       236.123998 -0.830246 -0.557397  1.489504
..             ...       ...       ...       ...
67      325.889575 -0.560790  0.827958 -0.677316
68       24.516610  0.414957  0.909841  0.456076
69      356.281354 -0.064857  0.997895 -0.064994
70      334.704140 -0.427293  0.904113 -0.472609
71      280.894480 -0.981977  0.189001 -5.195622

[72 rows x 4 columns]

In [37]:
#total de linhas do data frame
print(len(df))
print(len(df.index))
print(df.shape[0])

72
72
72

In [39]:
#linhas x colunas
print(df.shape)

#primeiras 10 linhas
display(df[0:10])

#ultimas 10 linhas
display(df[-10:])

#somente a coluna 'Seno'
print(df['Seno'])
#ou
print(df.Seno)

(72, 4)

   Angulo (graus)      Seno   Cosseno   Tangente
0      178.623488  0.024022 -0.999711  -0.024029
1      348.774851 -0.194665  0.980870  -0.198462
2      157.083954  0.389382 -0.921076  -0.422747
3       82.053645  0.990398  0.138246   7.164033
4      236.123998 -0.830246 -0.557397   1.489504
5       87.777126  0.999248  0.038787  25.762611
6      105.786678  0.962281 -0.272057  -3.537064
7      128.472692  0.782905 -0.622142  -1.258403
8      353.839015 -0.107322  0.994224  -0.107946
9      296.236236 -0.896979  0.442073  -2.029028

    Angulo (graus)      Seno   Cosseno  Tangente
62      244.882591 -0.905440 -0.424475  2.133084
63      260.129712 -0.985198 -0.171418  5.747337
64       17.855883  0.306624  0.951831  0.322141
65      252.574264 -0.954106 -0.299469  3.185988
66      129.243781  0.774461 -0.632621 -1.224210
67      325.889575 -0.560790  0.827958 -0.677316
68       24.516610  0.414957  0.909841  0.456076
69      356.281354 -0.064857  0.997895 -0.064994
70      334.704140 -0.427293  0.904113 -0.472609
71      280.894480 -0.981977  0.189001 -5.195622

0     0.024022
1    -0.194665
2     0.389382
3     0.990398
4    -0.830246
        ...
67   -0.560790
68    0.414957
69   -0.064857
70   -0.427293
71   -0.981977
Name: Seno, Length: 72, dtype: float64
0     0.024022
1    -0.194665
2     0.389382
3     0.990398
4    -0.830246
        ...
67   -0.560790
68    0.414957
69   -0.064857
70   -0.427293
71   -0.981977
Name: Seno, Length: 72, dtype: float64

In [40]:
#Salvando no fromato CSV
df.to_csv('valores.csv',index=False,sep=';')

#### Lendo um arquivo XML

In [53]:
import pandas as pd
from lxml import objectify

#cria uma arvore de elementos: lxml.etree._ElementTree
xml= objectify.parse(open('XMLData.xml'))
#obtem o elemento raiz da arvore
root=xml.getroot()
#total de filhos do elemento raiz - total de registros
#cada registro sera uma linha no data frame pandas
total=len(root.getchildren())

#cria um dataframe vazio contendo 3 colunas
df=pd.DataFrame(columns=['Numero','Texto','Logica'])
display(df)

#percorre a arvore obtendo os dados de cada filho da raiz(cada registro)
for i in range(0,total):
    dados=root.getchildren()[i].getchildren()
    row=[dados[0].text,dados[1].text,dados[2].text]
    df.loc[i]=row
    
display(df)    

#salva em CSV
df.to_csv('XMLData.csv',index=False,sep=';')

#salva em XLSX
df.to_excel('XLMLData.xlsx',index=False)

#salva em formato javascript - objeto JSON
#print(df.to_json())

print(df.to_json(orient='table'))
df.to_json('XMLData.json')

Empty DataFrame
Columns: [Numero, Texto, Logica]
Index: []

  Numero     Texto Logica
0      1  Primeiro   True
1      2   Segundo  False
2      3  Terceiro   True
3      4    Quarto  False

{"schema":{"fields":[{"name":"index","type":"integer"},{"name":"Numero","type":"string"},{"name":"Texto","type":"string"},{"name":"Logica","type":"string"}],"primaryKey":["index"],"pandas_version":"1.4.0"},"data":[{"index":0,"Numero":"1","Texto":"Primeiro","Logica":"True"},{"index":1,"Numero":"2","Texto":"Segundo","Logica":"False"},{"index":2,"Numero":"3","Texto":"Terceiro","Logica":"True"},{"index":3,"Numero":"4","Texto":"Quarto","Logica":"False"}]}